appdirs==1.4.4
argcomplete==1.10.0
argh==0.26.1
asgiref==3.2.7
asn1crypto==0.24.0
Beaker==1.10.0
cffi==1.12.3
chardet==3.0.4
coverage==5.1
decorator==4.4.0
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==3.0.6
django-heroku==0.3.1
gunicorn==20.0.4
httplib2==0.18.1
idna==2.8
importlib-metadata==0.23
jws==0.1.3
langtable==0.0.51
Markdown==3.2.2
oauth2client==3.0.0
ordered-set==3.1
Paste==3.2.2
pid==2.2.3
Pillow==6.2.2
ply==3.11
productmd==1.26
protobuf==3.12.2
psutil==5.7.0
psycopg2==2.8.5
pycurl==7.43.0.2
pydbus==0.6.0
pyOpenSSL==19.0.0
 python-augeas==0.5.0
python-dateutil==2.8.0
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
sqlparse==0.3.1
systemd-python==234
virtualenv==20.0.23
whitenoise==5.1.0
